# Ingestion Service Configuration
spring.application.name=ingestion-service
server.port=8082

# Kafka Producer Configuration
spring.kafka.bootstrap-servers=localhost:9094
spring.kafka.template.default-topic=energy-usage
spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
spring.kafka.producer.value-serializer=org.springframework.kafka.support.serializer.JsonSerializer

# Continuous Simulation Configuration
simulation.endpoint=${SIMULATION_ENDPOINT:http://localhost:8082/api/v1/ingestion}  # Simülasyon endpoint adresi
simulation.requests-per-interval=10000  # Dakikada gönderilecek istek sayısı
simulation.interval-ms=60000  # Simülasyon aralığı (milisaniye)
simulation.parallel-threads=10  # Paralel thread sayısı
